body {
    background-color: var(--secondary);
}

h1 {
    text-align: center;
    background-color: var(--primary);
    color: var(--font);
    width:80vw;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 300%;
}

#container {
   display: flex;
   flex-wrap: wrap; 
   justify-content: space-around;
}

.gallery {
    align-items: center;
    padding: 3%;
    margin: 2%;
    justify-content: space-between;
    background-color: var(--primary);
    border: 0.2em solid var(--border);
    color: var(--font);
}

#charactername {
    text-align: center;
}

.bottomtext {
    text-align: center;
}

:root {
    /* primary, secondary, font, accent */
    --blue: #427D9D; 
    --dark-blue: #164863;
    --light-blue: #9BBEC8;
    --white-blue: #DDF2FD;

    --light-brown: #B0A695;
    --brown: #776B5D;
    --beige: #EBE3D5;
    --light-beige: #F3EEEA;
}

.blue {
    --primary: var(--blue);
    --secondary: var(--dark-blue);
    --font: var(--light-blue);
    --border: var(--white-blue);
}

.beige {
    --primary: var(--light-brown);
    --secondary: var(--brown);
    --font: var(--beige);
    --border: var(--light-beige);
}